---
Checks: "\
  *,\
  -cppcoreguidelines-avoid-c-arrays,\
  -cppcoreguidelines-avoid-magic-numbers,\
  -cppcoreguidelines-non-private-member-variables-in-classes,\
  -cppcoreguidelines-pro-type-vararg,\
  -modernize-avoid-c-arrays,\
  -modernize-use-equals-default,\
  -modernize-use-nodiscard,\
  -performance-move-const-arg,\
  -performance-noexcept-move-constructor,\
  -readability-named-parameter,\
  -clang-diagnostic-pragma-once-outside-header, \
  -modernize-concat-nested-namespaces, \
  -altera-*,\
  -cert-*,\
  -fuchsia-default-arguments-calls,\
  -fuchsia-overloaded-operator,\
  -fuchsia-trailing-return,\
  -fuchsia-virtual-inheritance,\
  -llvm-header-guard,\
  -llvm-include-order,\
  -llvmlibc-*,\
  -modernize-use-trailing-return-type,\
  -hicpp-signed-bitwise,\
  -google-readability-todo,\
  -llvm-namespace-comment,\
  -google-readability-namespace-comments,\
  -hicpp-vararg,\
  "
WarningsAsErrors: "*"

# NOTE:
# Names for matrix like "mtx_L2W" is ignored.

CheckOptions:
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstantMemberCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: aNy_CasE
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterIgnoredRegexp
    value: ^(mtx)(_[a-z0-9]+)*(_[A-Z0-9]+)$
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberIgnoredRegexp
    value: ^(mtx)(_[a-z0-9]+)*(_[A-Z0-9]+)$
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberIgnoredRegexp
    value: ^(mtx)(_[a-z0-9]+)*(_[A-Z0-9]+)$
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberIgnoredRegexp
    value: ^(mtx)(_[a-z0-9]+)*(_[A-Z0-9]+)$
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.VariableIgnoredRegexp
    value: ^(mtx)(_[a-z0-9]+)*(_[A-Z0-9]+)$
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
