.cache
.home
.venv
.vscode
.ruff_cache

*.bak
*.dll
*.exe
*.ilk
*.iobj
*.ipdb
*.pdb
*.user
*.egg-info

**/.vs
**/x64

3rdparty/**/bin
3rdparty/**/lib

src/**/*.anm
src/**/*.fbx
src/**/*.hdr
src/**/*.mdl
src/**/*.obj
src/**/*.png
src/**/*.sbvh

CMakeCache.txt
CMakeFiles
build
compile_commands.json
imgui.ini
node_modules

__pycache__
