[submodule "3rdparty/tinyobjloader"]
	path = 3rdparty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/openexr"]
	path = 3rdparty/openexr
	url = https://github.com/openexr/openexr.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/cmdline"]
	path = 3rdparty/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "3rdparty/tinyxml2"]
	path = 3rdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rdparty/tinyjson"]
	path = 3rdparty/tinyjson
	url = https://github.com/mendsley/tinyjson.git
[submodule "3rdparty/picojson"]
	path = 3rdparty/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
