
.cache
*.bak
*.dll
*.exe
*.ilk
*.iobj
*.ipdb
*.pdb
*.user
**/.venv
**/.vs
**/x64
**/__pycache__
.home
.vscode
3rdparty/**/bin
3rdparty/**/lib
CMakeCache.txt
CMakeFiles
build
compile_commands.json
imgui.ini
node_modules
src/**/*.anm
src/**/*.fbx
src/**/*.hdr
src/**/*.mdl
src/**/*.obj
src/**/*.png
src/**/*.sbvh
