fail_fast: true
exclude: (.*3rdparty/.*|.*vs_projects/.*|.*asset/.*|.*gallery/.*)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shfmt
        args: [-i, "2", -ci]
      - id: shellcheck
        args: [-e, SC2230]
        exclude: .envrc

  # NOTE:
  # To run markdownlint even in windows stably, use markdownlint-cli not markdownlint-cli2.
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--fix]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.10
    hooks:
      - id: cmake-format
      - id: cmake-lint
        args: ['--linelength=150']

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: Sort Python imports
        files: (\.py)$
        args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        name: Fix Python code format
        files: (\.py)$
        language_version: python3

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: ["black==22.1.0"]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Check PEP8 on Python code
        files: (\.py)$
        additional_dependencies: [flake8-bugbear==22.12.6]
        args: ["--max-line-length=120", "--extend-ignore=E203"]
