name: Build docker image

on:
  workflow_dispatch: {}
  workflow_call:
    inputs:
      any_modified:
        required: true
        type: string
    outputs:
      did_build_image:
        description: 'Whether the docker image was built'
        value: ${{ jobs.build_docker_image.outputs.did_build_image }}

# NOTE:
# To avoid concurrency conflict with the caller workflow,
# make group unique by adding "build_docker".
concurrency:
  group: ${{ github.workflow }}-build_docker-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_docker_image:
    name: build_docker_image
    runs-on: ubuntu-22.04
    outputs:
      did_build_image: ${{ steps.push_image.outputs.did_build_image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          submodules: true

      - name: Login to GitHub Container Registry
        id: login
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Compare the last modified time of the docker directory and the created time of the docker image as unit time.
      - name: Check docker image build time
        id: check_image_time
        if: ${{ inputs.any_modified == 'true' }}
        run: |
          docker pull ghcr.io/${{ github.repository }}/aten
          file_change_date=$(git log -1 --pretty="format:%ct" ./docker/)
          image_build_date=$(docker inspect -f '{{ .Created }}' ghcr.io/${{ github.repository }}/aten | xargs -i date --utc --date="{}" +%s)
          echo "::notice::File [${file_change_date}] DockerImage [${image_build_date}]"
          if [[ "${file_change_date}" -gt "${image_build_date}" ]]; then
            echo "::notice::Docker image should be rebuilt."
            echo "need_build_image=true" >> "$GITHUB_OUTPUT"
          else
            echo "::notice::No need to rebuild the Docker image."
            echo "need_build_image=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build images
        id: build_image
        if: ${{ (steps.check_image_time.outputs.need_build_image == 'true') || (github.event_name == 'workflow_dispatch') }}
        run: |
          ./docker/build_docker_image.sh -b ./docker/ -p "ghcr.io/${{ github.repository }}/"
          echo "need_to_push=true" >> "$GITHUB_OUTPUT"

      - name: Push images
        id: push_image
        if: ${{ steps.build_image.outputs.need_to_push == 'true' }}
        run: |
          docker push ghcr.io/${{ github.repository }}/aten:latest
          docker push ghcr.io/${{ github.repository }}/aten_dev:latest
          echo "did_build_image=true" >> "$GITHUB_OUTPUT"
