name: CI

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_diff:
    name: check_diff
    runs-on: ubuntu-22.04
    outputs:
      should_build_image: ${{ steps.set_outputs.outputs.should_build_image }}
      should_build_source: ${{ steps.changed_files_to_build_source.outputs.any_modified }}
    if: ${{ github.ref != 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      # NOTE:
      # https://github.com/actions/runner-images/issues/1281
      # Check if the specified files are changed.
      - name: Check changed files to build
        id: changed_files_to_build_source
        uses: step-security/changed-files@v46
        with:
          files_ignore: |
            .devcontainer/**
            .dockerignore
            .github/workflows/win_ci.yml
            .gitignore
            .home/**
            asset/**
            docker/windows/**
            gallery/**
            python/**
            vs_projects/**
            **.md

      - name: Check if Dockerfiles are changed
        id: check_change_docker_file
        uses: step-security/changed-files@v46
        with:
          files: |
            .github/workflows/build_docker.yml
            docker/**/Dockerfile
            docker/build_docker_image.sh

      - name: Display changed files and set outputs
        id: set_outputs
        run: |
          echo "::notice::Changed files to build source: ${{ steps.changed_files_to_build_source.outputs.all_modified_files }}"
          echo "::notice::Changed files to build Docker image: ${{ steps.check_change_docker_file.outputs.all_modified_files }}"
          echo "should_build_image=${{ steps.check_change_docker_file.outputs.any_modified }}" >> "$GITHUB_OUTPUT"

  build_docker:
    name: build_docker
    needs: check_diff
    if: ${{ github.ref != 'refs/heads/main' }}
    uses: ./.github/workflows/build_docker.yml
    with:
      any_modified: ${{ needs.check_diff.outputs.should_build_image }}

  check_build_trigger:
    name: check_build_trigger
    runs-on: ubuntu-22.04
    needs: check_diff
    outputs:
      should_run_build: ${{ steps.set_ci_trigger.outputs.should_run_build }}
    steps:
      - name: Set CI trigger
        id: set_ci_trigger
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/main' ]]; then
            echo "::notice::Force build on main branch"
            echo "should_run_build=true" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          if [[ "${{ needs.check_diff.outputs.should_build_source }}" == 'true' || "${{ needs.check_diff.outputs.should_build_image }}" == 'true' ]]; then
            echo "::notice::Need to Run ci job."
            echo "should_run_build=true" >> "$GITHUB_OUTPUT"
          else
            echo "::notice::No need to Run ci job."
            echo "should_run_build=false" >> "$GITHUB_OUTPUT"
          fi

  ci:
    name: ci
    runs-on: ubuntu-22.04
    needs: [build_docker, check_build_trigger]
    if: ${{ needs.check_build_trigger.outputs.should_run_build == 'true' }}
    container:
      image: ghcr.io/${{ github.repository }}/aten_dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Set permission
        shell: bash
        run: |
          chown -R "$(id -u)":"$(id -g)" "${GITHUB_WORKSPACE}"

      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          submodules: true

      - name: lint
        run: |
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          pre-commit run -a

      - name: Configure
        run: |
          mkdir -p build
          cd build
          cp ../tools/RunCMake.sh ./
          ./RunCMake.sh Release 75

      - name: Build
        run: |
          cd build
          ninja -j 4
